.activity{
  margin-bottom: 2em;
}

.navbar-default {
  background-color: #303F9F;
  border-color: #f5f5f5;
}

.navbar-default .navbar-nav > li > a, a:active {
  color: #f5f5f5;
}

.navbar-brand{
  color: #f5f5f5 !important;
}
