<div ng-controller="CommunitiesCtrl">
  <div class="row">
    <div class="col-lg-10 col-md-offset-1">
      <h1 class="page-header">#159
        <small>Nuestras Comunidades!</small>
      </h1>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-mf-8">
        <div class="panel panel-default">
          <div class="panel-heading">
            <strong>Comunidad</strong>
            #RenunciaYa
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-md-2 text-center">
                <img src="http://lorempixel.com/100/100/nature" class="img-circle" alt="avatar">
              </div>
              <div class="col-md-10">
                <div>
                  <strong>Nuestro Razon de ser</strong>
                </div>
                <div>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam, voluptatibus, est! Maxime inventore labore sed sapiente odit mollitia.
                  </p>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <strong>Objetivos</strong>
                    <ul>
                      <li ng-repeat="objetivo in [1,2,3,4]">objetivo-{{objetivo}}</li>
                    </ul>
                  </div>
                  <div class="col-md-2"></div>
                  <div class="col-md-3"></div>
                  <div class="col-md-3"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
