<div ng-controller="CreatecommunityCtrl">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="title-page">
          <h1>Comunidad</h1>
        </div>
        <div class="title-page-legend">
          <h3>Agrega tu Comunidad a #159! <small class="glyphicon glyphicon-hand-up"></small></h3>
        </div>
      </div>
    </div>
    <div class="row result" ng-if="send">
      <div class="col-md-8 col-md-offset-2">
        <div class="alert alert-{{result.class}} alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="changeSend()"><span aria-hidden="true">&times;</span></button>
          <strong>{{result.titl}} </strong>{{result.message}}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <form class="" method="post" ng-submit="createCommunity()">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="txtName">Nombre:</label>
                <input type="text" name="txtName" id="txtName" placeholder="Nombre" class="form-control" required ng-model="community.name">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="txtPurpose">Proposito:</label>
                <textarea name="txtPurpose" id="txtPurpose" placeholder="Proposito" class="form-control" required ng-model="community.purpose"></textarea>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="slSector">Sector:</label>
                <select class="form-control" name="slSector" id="slSex" ng-model="community.sector" ng-options="s.name for s in sectors">
                  <option value="">Selecciona...</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <strong>Objetivos</strong>
                </div>
                <div class="panel-body">
                  <div class="input-group">
                    <label for="txtObjective"></label>
                    <input type="txtObjective" class="form-control" placeholder="Objetivo..." ng-model="objective">
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="button" ng-click="addObjective(objective)">Agregar</button>
                    </span>
                  </div>
                  <br>
                  <div class="">
                      <ul>
                        <li ng-repeat="object in objectives">{{object}} <i class="glyphicon glyphicon-remove text-danger" ng-click="remObjective(object)"></i></li>
                      </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <input type="submit" name="btnRegister" value="Crear" class="btn btn-primary pull-right">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
