<div class="container">
  <div class="jumbotron">
    <h1>Quienes Somos!</h1>
    <p>
      Somos una red de organizaciones social convencidas de que otra Guatemala es posible.
    </p>
  </div>
  <div class="row">
    <div class="col-md-8 col-md-offset-2 manifest">
      <h1>
        Manifiesto
      </h1>
      <div>
        <p>
          Somos la nueva generación de Guatemala que reconociendo su profunda crisis moral en el sistema social y político decidimos organizarnos desde nuestra diversidad para reducir la injerencia histórica de poderes ocultos en el sistema de gobierno.
        </p>
        <p>
          Nuestra comunidad se originó a causa de la indignación social por los múltiples casos de corrupción en los que se vinculan a funcionarios de las altas cúpulas de gobierno en el Organismo Ejecutivo. Consideramos que las consecuencias de un gobierno insolvente y corrupto tiene efectos en la reproducción de un Estado incapaz de proporcionar a sus ciudadanos las garantías sociales que les permitan gozar de condiciones de vida digna.
        </p>
        <p>
          De esta forma decidimos canalizar esta energía del descontento en procesos concretos de transformación social. La dinámica permitió indignarnos, informarnos, organizarnos, protestar, proponer e iniciar la transformación de un sistema que caduco desde hace más de 60 años y no nos representa.
        </p>
        <p>
          Se considera que la vinculación de autoridad de gobierno con grupo criminales es la razón que reproduce los mecanismos de pobreza, exclusión, violencia e inseguridad que limitan el óptimo desarrollo de sus habitantes durante períodos transgeneracionales e impiden la depuración de un sistema coaptado que recicla de forma clientelar a todos sus miembros.
        </p>
        <p>
          Por esta razón consideramos que la mejor propuesta de transformación social surge a través de la organización comunitaria responsable capaz de trascender de las protestas sociales, a las propuestas sociales y a transformaciones profundas de Estado.
        </p>
      </div>
    </div>
  </div>
</div>
